<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BigButtonMapping" value="PLAY_PAUSE" />
    <add key="BackButtonMapping" value="PLAY_PAUSE" />
    <add key="StartButtonMapping" value="PLAY_PAUSE" />
    <add key="AButtonMapping" value="PLAY_PAUSE" />
    <add key="BButtonMapping" value="TOGGLE_REPEAT" />
    <add key="XButtonMapping" value="Toggle_Shuffle" />
    <add key="YButtonMapping" value="PLAY_PAUSE" />
    <add key="LStickButtonMapping" value="PLAY_PAUSE" />
    <add key="RStickButtonMapping" value="PLAY_PAUSE" />
    <add key="LShoulderButtonMapping" value="TOGGLE_THUMBS_DOWN" />
    <add key="RShoulderButtonMapping" value="TOGGLE_THUMBS_UP" />
    <add key="DpadUpMapping" value="INCREASE_VOLUME" />
    <add key="DpadDownMapping" value="DECREASE_VOLUME" />
    <add key="DpadLeftMapping" value="BACK" />
    <add key="DpadRightMapping" value="FORWARD" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GPMDPFilePath" value="C:\Users\scott\AppData\Local\GPMDP_3"/>
    <add key="GPMDPFileExe" value="Google Play Music Desktop Player.exe"/>
    <add key="GPMDPUpdaterExe" value="Update.exe"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>